body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  width: 100%;
  height: 100px;
  background-color: #2F323A;
}
header h1{
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
header span {
  color: #1DC4E7;
}
nav {
  padding-top: 30px;
  padding-left: 470px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #17E8B5;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #2F323A;
  padding-bottom: 50px;
}
footer h4 {
  padding-top: 10px;
  color: #fff;
  text-align: center;
}